{% extends "base.html" %}
{% block title %}Agents{% endblock %}
{% block lead %}Agents are the computers executing build actions{% endblock %}
{% set active_page = "agents" %}
{% block content %}
<h3>Available agents</h3>
<table class="table table-striped">
  <tbody>
{% for agent in agents %}
    <tr>
      <td><a style="font-family: monospace" href="{{url_for('.show', id = agent.id)}}">{{agent.id|short_id}}</a> - {{agent.nick}}</td>
      <td>seen {{agent.seen|pretty_date}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
<h3>The rest...</h3>
<table class="table table-striped">
  <tbody>
{% for agent in idle_agents %}
    <tr>
      <td><a style="font-family: monospace" href="{{url_for('.show', id = agent.id)}}">{{agent.id|short_id}}</a> - {{agent.nick}}</td>
      <td>seen {{agent.seen|pretty_date}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
