{% macro fl(entry,ongoing) -%}
<tr>
{% if ongoing %}
<td>...</td>
{% else %}
<td></td>
{% endif %}
<td class="log_entry">
{% if entry.indent == 1 %}
->
{% endif %}
  {{ caller() }}
</td>
</tr>
{%- endmacro %}

{% macro log_entry(entry, log) -%}
{% if entry.type == 'job-begun' %}
{% call fl(entry, False) %}Job Started{% endcall %}
{% elif entry.type == 'step-begun' %}
{% if entry.end %}
{% call fl(entry, False) %}{{entry.params.name}} <span class="log_auto">time {{entry.end.params.time|pretty_dur}}</span>{% endcall %}
{% else %}
{% call fl(entry, True) %}{{entry.params.name}}{% endcall %}
{% endif %}
{% elif entry.type == 'run-async' %}
{% if entry.end %}
{% call fl(entry, False) %}{{entry.params.title}} <span class="log_auto">time {{entry.end.params.time|pretty_dur}}</span>{% endcall %}
{% else %}
{% call fl(entry, True) %}{{entry.params.title}}{% endcall %}
{% endif %}
{% elif entry.type == 'job-done' %}
{% call fl(entry, False) %}Job Done{% endcall %}
{% elif entry.type == 'job-error' %}
{% call fl(entry, False) %}ERROR: {{entry.params.what}}{% endcall %}
{% elif entry.type == 'async-joined' %}
{% elif entry.type == 'set-description' %}
{% elif entry.type == 'session-done' %}
{% elif entry.type == 'artifact-added' %}
{% elif entry.type == 'set-build-id' %}
{% elif entry.type == 'session-start' %}
{% else %}
{% call fl(entry) %}{{ entry }}{% endcall %}
{% endif %}
</li>
{%- endmacro %}

{% set active_tab = "log" %}
{% extends "build_base.html" %}
{% block pagetitle %}{{name}} #{{build.number}} - {{build.build_id}}{% endblock %}
{% block subcontents %}
<div class="row">
  <div class="span12">
    <h3>Log</h3>
    <table class="log table table-condensed table-striped">
      <tbody>
{% for entry in log if entry.s == 0 %}
{{ log_entry(entry, log) }}
{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
