{% set active_tab = "log" %}
{% extends "build_base.html" %}
{% block pagetitle %}{{name}} #{{build.number}} - {{build.build_id}}{% endblock %}
{% block subcontents %}
<div class="row">
  <div class="span8">
    <h3>Events</h3>
    <table class="log table table-condensed table-striped">
      <tbody id="log-items">
      </tbody>
    </table>
  </div>
  <div class="span4">
    <h3>Log Files</h3>
    <ul>
{% for session in sessions %}
      <li><a href="{{session.log_file}}">{{session.title}}</a></li>
{% endfor %}
    </ul>
  </div>
  <div id="images">

  </div>
</div>
{% endblock %}
{% block js %}
  var expanded_sessions = [0];
  var entries = [];
  var log_start = 0;

  function toggle_session(s) {
    if (session_active(s)) {
      expanded_sessions.splice(expanded_sessions.indexOf(s), 1);
    } else {
      expanded_sessions.push(s);
    }
    render();
  }

  function session_active(s) {
    return (expanded_sessions.indexOf(s) != -1);
  }

  function render_session(sid, indent) {
    for (var idx in entries) {
      var e = entries[idx];
      var ongoing = true;
      if (e.s != sid) continue;
      if (e.type == 'step-begun') {
        for (var si = idx; si < entries.length; si++)
	  if (entries[si].type == 'step-done' && entries[si].s == e.s)
            ongoing = false;
        if (ongoing)
          $("#le-step-running").tmpl(e).appendTo("#log-items");
        else
          $("#le-step-done").tmpl(e).appendTo("#log-items");
      } else if (e.type == 'run-async') {
        for (var si = idx; si < entries.length; si++)
	  if (entries[si].type == 'async-joined' && entries[si].params.session_no == e.params.session_no)
            ongoing = false;
        if (ongoing)
          $("#le-async-running").tmpl(e).appendTo("#log-items");
        else
          $("#le-async-done").tmpl(e).appendTo("#log-items");
        if (session_active(e.params.session_no))
          render_session(e.params.session_no, indent + 1);
      } else if (e.type == 'job-begun') {
        $("#le-job-begun").tmpl(e).appendTo("#log-items");
      } else if (e.type == 'job-done') {
        $("#le-job-done").tmpl(e).appendTo("#log-items");
      }
    }
  }

  function render() {
    $("#log-items").empty();
    render_session(0, 0);
  }

  function getLogs() {
    $.getJSON('/builds/{{uuid}}/progress.json?start=' + log_start, function(data) {
      var items = [];

      if (data.log.length > 0) {
        $.each(data.log, function(key, val) {
          if (val.type == 'job-done' || val.type == 'job-error') {
            window.clearInterval(timer);
          }
          entries.push(val);
          log_start = val.id + 1;
        });
        render();
      }
    });
  }
  getLogs();
  var timer = window.setInterval(getLogs, 1000);
{% endblock %}
