{% set pre_title = (url_for('.show_home', id=id), build.job_name) %}
{% extends "base.html" %}
{% block pagetitle %}{{build.build_id}}{% endblock %}
{% block title %}{{build.build_id}}{% endblock %}
{% block lead %}{{build.description|default("No description has been entered for this job.")}}{% endblock %}
{% set active_page = "builds" %}
{% if not tab_bar %}
{% set tab_bar = [
    (url_for('.show_build', id=id, build_no=build.number), 'overview', 'icon-home', 'Build Overview', False),
    (url_for('.show_log', id=id, build_no=build.number), 'log', 'icon-list-alt', 'Log', False)
] -%}
{% endif %}
{% block content %}
{% raw %}
   <script id="parameter" type="text/x-jquery-tmpl">
       <div id="param_${name}" class="control-group">
         <label class="control-label" for="param_${name}"> ${name}</label>
         <div class="controls">
	   <input type="text" class="input-xlarge" name="param_${name}" value="${def}">
         <p class="help-block">${description}</p>
         </div>
       </div>
   </script>

   <script id="inactive-field" type="text/x-jquery-tmpl">
     <li id="fld_${name}" class="fieldrow">
       <a class="btn" href="javascript:make_active('${name}')">
	 <i class="icon-cog"></i> ${name}
       </a>
     </li>
   </script>
   <script id="active-field" type="text/x-jquery-tmpl">
     <li id="fld_${name}" class="fieldrow">
       <a class="btn btn-info active" href="javascript:make_active('${name}')">
	 <i class="icon-cog icon-white"></i> ${name}
       </a>
     </li>
   </script>
   <script id="required-field" type="text/x-jquery-tmpl">
     <li id="fld_${name}" class="fieldrow">
       <a class="btn btn-info disabled">
	 <i class="icon-lock icon-white"></i> ${name}
       </a>
     </li>
   </script>
   <script id="le-job-begun" type="text/x-jquery-tmpl">
     <tr><td></td><td class="log_entry">Job Started</td></tr>
   </script>
   <script id="le-job-done" type="text/x-jquery-tmpl">
     <tr><td></td><td class="log_entry">Job Done</td></tr>
   </script>
   <script id="le-step-running" type="text/x-jquery-tmpl">
     <tr><td><img src="/static/img/ajax-loader.gif" width="16" height="16"></td><td class="log_entry">${params.name}</td></tr>
   </script>
   <script id="le-step-done" type="text/x-jquery-tmpl">
     <tr><td><i class="icon-ok"/></td><td class="log_entry">${params.name}</td></tr>
   </script>
   <script id="le-async-running" type="text/x-jquery-tmpl">
     <tr><td><img src="/static/img/ajax-loader.gif" width="16" height="16"></td><td class="log_entry"><a href="javascript:toggle_session(${params.session_no})">[+]</a> ${params.title}</td></tr>
   </script>
   <script id="le-async-done" type="text/x-jquery-tmpl">
     <tr><td><i class="icon-ok"/></td><td class="log_entry"><a href="javascript:toggle_session(${params.session_no})">[+]</a> ${params.title}</td></tr>
   </script>
{% endraw %}
{% block subcontents %}{% endblock %}
{% endblock %}
