{% extends "base.html" %}
{% block pagetitle %}{{id}}{% endblock %}
{% block title %}{{id}}{% endblock %}
{% block lead %}{{job.description|default("No description has been entered for this job.")}}{% endblock %}
{% set active_page = "builds" %}
{% if not tab_bar %}
{% set tab_bar = [
    (url_for('.show_home', id=id), 'home', 'icon-home', 'Job Overview', False),
    (url_for('.show_start', id=id), 'start', 'icon-play', 'Start Build', False),
    (url_for('.show_history', id=id), 'history', 'icon-time', 'Build History', False),
    (url_for('.show_edit', id=id), 'edit', 'icon-edit', 'Edit', True),
] -%}
{% endif %}
{% block content %}
{% raw %}
   <script id="parameter" type="text/x-jquery-tmpl"> 
       <div id="param_${name}" class="control-group">
         <label class="control-label" for="param_${name}"> ${name}</label>
         <div class="controls">
	   <input type="text" class="input-xlarge" name="param_${name}" value="${def}">
         <p class="help-block">${description}</p>
         </div>
       </div>
   </script>

   <script id="inactive-field" type="text/x-jquery-tmpl">
     <li id="fld_${name}" class="fieldrow">
       <a class="btn" href="javascript:make_active('${name}')">
	 <i class="icon-cog"></i> ${name}
       </a>
     </li>
   </script>
   <script id="active-field" type="text/x-jquery-tmpl">
     <li id="fld_${name}" class="fieldrow">
       <a class="btn btn-info active" href="javascript:make_active('${name}')">
	 <i class="icon-cog icon-white"></i> ${name}
       </a>
     </li>
   </script>
   <script id="required-field" type="text/x-jquery-tmpl">
     <li id="fld_${name}" class="fieldrow">
       <a class="btn btn-info disabled">
	 <i class="icon-lock icon-white"></i> ${name}
       </a>
     </li>
   </script>
{% endraw %}
{% block subcontents %}{% endblock %}
{% endblock %}
