{% extends "job_base.html" %}
{% block title %}{{build.number}} - {{build.description}}{% endblock %}
{% block subcontents %}
{% if build_no == 0 %}
    <div class="row">
      <div class="span12">
	No build matches this criteria.
      </div>
    </div>
{% else %}
    <div class="row">
      <div class="span12">
	<h2>#{{build.number}} - {{build.description}}</h2>
	<p>Started {{build.created|pretty_date}} from job <a href="{{build.job_url}},settings">{{build.job_name}}</a> ({{build.job_ref|short_id}}) using recipe <a href="{{build.recipe_url}}">{{build.recipe_name}}</a> ({{build.recipe_ref|short_id}}).</p>
{% if build.result == 'success' %}
	<div class="alert alert-success"><strong>Success!</strong> This build finished successfully.</div>
{% elif build.result == 'failed' %}
	<div class="alert alert-error">This build finished with errors.</div>
{% elif build.result == 'aborted' %}
	<div class="alert alert-error">This build was aborted.</div>
{% endif %}
{% if build.parameters %}
       <h3>Build Parameters</h3>
       <dl>
{% for param in build.parameters %}
	 <dt>{{param}}</dt>
	 <dd>{{build.parameters[param]}}</dd>
{% endfor %}
       </dl>
{% endif %}
       <h3>Log</h3>
       <ul>
{% for entry in log %}
<li>{{entry}}</li>
{% endfor %}
       </ul>
      </div>
    </div>
{% endif %}
{% endblock %}
