{% extends "build_base.html" %}
{% block pagetitle %}{{name}} #{{build.number}} - {{build.build_id}}{% endblock %}
{% block subcontents %}
<div class="row">
  <div class="span12">
    <h2><a class="cb" href="{{url_for('.show_build', id=id, build_no=build.number)}}">#{{build.number}} - {{build.build_id}}</a></h2>
  </div>
</div>
<div class="tabbable">
  <ul class="nav nav-pills">
    <li class="active"><a href="#tab1" data-toggle="tab">Overview</a></li>
    <li><a href="#tab2" data-toggle="tab">Log</a></li>
  </ul>
</div>
<div class="tab-content" style="display: block">
  <div class="tab-pane active" id="tab1">
{% include "job_show_overview.html" %}
  </div>
  <div class="tab-pane" id="tab2">
{% include "job_show_log.html" with context %}
  </div>
</div>
{% endblock %}
