{% extends "job_base.html" %}
{% set tab_bar = [
(url_for('.show_home', id=id), 'home', 'icon-home', 'Job Overview', False),
    (url_for('.show_edit', id=id), 'edit', 'icon-edit', 'Simple Edit', False),
    (url_for('.show_raw_edit', id=id), 'raw_edit', 'icon-pencil', 'Raw Edit', False),
    (url_for('.show_edit_history', id=id), 'edit-history', 'icon-time', 'Edit History', False),
] -%}
{% block lead %}Edit as you like. We keep history of everything.{% endblock %}
{% block pagetitle %}Edit {{name}}{% endblock %}
