{% extends "base.html" %}
{% block title %}{{name}} - Job{% endblock %}
{% set active_page = "builds" %}

{% set tab_bar = [
    (url_for('.show_home', id=id), 'home', 'icon-home', 'Overview'),
    (url_for('.show_latest', id=id), 'latest', 'icon-repeat', 'Latest Build'),
    (url_for('.show_success', id=id), 'success', 'icon-ok', 'Last Success'),
    (url_for('.show_history', id=id), 'history', 'icon-time', 'Build History'),
] -%}

{% block content %}
    <div class="row">
      <div class="span12">
	<a style="float: right" class="btn" href="{{edit_url}}"><i class="icon-edit"></i> Edit</a>
	<h1><a class="link-black" href="{{url_for('.show_home', id=id)}}">{{name}}</a></h1>
      </div>
    </div>
    <div style="margin-top: 20px" class="row">
      <div class="span12">
	<ul class="nav nav-tabs">
{%- for href, id, icon, caption in tab_bar %}
	  <li{% if id == active_tab %} class="active"{% endif %}><a href="{{href}}"><i class="{{icon}}"></i> {{caption}}</a></li>
{%- endfor %}
	</ul>
      </div>
    </div>
{% block subcontents %}{% endblock %}
{% endblock %}
