{% extends "base.html" %}
{% block title %}Builds{% endblock %}
{% block lead %}Builds and jobs.{% endblock %}
{% set active_page = "builds" %}
{% block content %}
      <ul class="unstyled">
{% for job in jobs %}
        <li class="lrow">
	  <p class="ltitle"><a href="{{url_for('.show_home', id=job.id)}}">{{job.id}}</a></p>
	  <div>Latest build (<a href="{{url_for('.show_build', id=job.id, build_no=job.latest_no)}}">{{job.id}}-{{job.latest_no}}</a>)</div>
	</li>
{% endfor %}
      </ul>
{% endblock %}
