{% extends "recipes_base.html" %}
{% block title %}edit/{{id}}{% endblock %}
{% block lead %}Edit and make changes. We keep history of everything.{% endblock %}
{% block content %}
    <div class="row">
      <div class="span12">
	<form class="form-horizontal" method="POST">
	  <input type="hidden" name="ref" value="{{recipe.ref}}"/>
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="textarea">Contents</label>
              <div class="controls">
		<textarea name="contents" class="editbox" id="textarea" cols="80" rows="25" wrap="off">{{recipe.contents}}</textarea>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" name="submit" class="btn btn-primary">Save changes</button>
              <button type="submit" name="cancel" class="btn">Cancel</button>
            </div>
          </fieldset>
	</form>
      </div>
    </div>
{% endblock %}
