{% extends "base.html" %}
{% block title %}Recipes{% endblock %}
{% block lead %}Recipes are building instructions that are used by jobs to create builds.{% endblock %}
{% set active_page = "recipes" %}
{% block content %}
<table class="table table-striped">
  <tbody>
{% for recipe in recipes %}
    <tr>
      <td><a href="{{url_for('.show', id = recipe.id)}}">{{recipe.id}}</a></td>
      <td>{{recipe.description|default("none given")}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
